.DS_Store
package-lock.json

.vscode/
node_modules/

# Jekyll sites
/.knosys/sites/*/.cache/
/.knosys/sites/*/.asset-cache/
/.knosys/sites/*/.sass-cache/
/.knosys/sites/*/*/ksio/
/.knosys/sites/*/_assets/*/ksio/
/.knosys/sites/*/_assets/*/knosys/
/.knosys/sites/*/_data/knosys/
/.knosys/sites/*/_knosys/
/.knosys/sites/*/_site/

# Hexo sites
/.knosys/sites/default/source/_data/knosys/
/.knosys/sites/default/source/knosys/
/.knosys/sites/default/source/_posts/*
!/.knosys/sites/default/source/_posts/hello-world.md
/.knosys/sites/default/themes/*/layout/*
!/.knosys/sites/default/themes/*/layout/_nop/
!/.knosys/sites/default/themes/*/layout/_local/
/.knosys/sites/default/themes/*/scripts/
/.knosys/sites/default/themes/*/source/fonts/*
/.knosys/sites/default/themes/*/source/images/*
!/.knosys/sites/default/themes/*/source/images/nop/
!/.knosys/sites/default/themes/*/source/images/local/
/.knosys/sites/default/themes/*/source/javascripts/*
/.knosys/sites/default/themes/*/source/stylesheets/*
!/.knosys/sites/default/themes/*/_config.yml
/.knosys/sites/default/public/
/.knosys/sites/default/.deploy*/
/.knosys/sites/default/_multiconfig.yml
/.knosys/sites/default/Thumbs.db
/.knosys/sites/default/db.json
/.knosys/sites/default/package.json
/dist/
